.bag {
    width: 5vw;
    height: 14vh;
    background-color: white;
    color: #f57818;
    border: 2px solid #e0d5ce;
    font-size: 16pt;
    border-start-start-radius: 37px;
    border-end-start-radius: 37px;
    transition: 0.5s;
    margin-top: 76%;

}
.bag:hover {
    width: 7vw;
    margin-top: 72%;
}

.bag-inside {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    transition: 0.4s;
    background-color: #f0eeeb;
    margin-left: -.36em;
    width: 35vw;
    height: 100vh;
}

.bag-item {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #ffaf40;
    background-color: white;
    border-radius: 30px;
    width: 30rem;
    height: 20rem;

}

.bag-row {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: auto;
}

.bag-title {
    font-size: 15pt;
    margin-top: 5px;
}

.bag-header {
    font-size: 18pt;
    margin: 10px auto auto;
}

.bag-col {
    margin-left: 15px;
    width: 22rem;
}
.amount-changing {
    display: flex;
    flex-direction: column;
    height: 10vh;
}

.bag-input {
    width: 4rem;
    height: 3vh;
    margin-left: 8px;
}

.delete {
    display: flex;
    position: static;
    margin-top: auto;
    margin-bottom: auto;
    right: 40px;
    height: 3rem;
    width: 3rem;
}

.change-btn {
    display: flex;
    position: relative;
    height: 3vh;
}

@keyframes slideRight {
    from {
        right: 0;
    }

    to {
        right: -34%;
    }
}

@keyframes slideLeft {

    from {
        right: -35%;
    }

    to {
        right: 0;
    }
}

.bag-icons {
    flex-direction: row;
    display: inline;
}

.bag-inside {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    transition: 0.4s;
    background-color: #f0eeeb;
    margin-left: -.36em;
    width: 35vw;
    height: 100vh;
}

.bag-no-animate {
    flex-direction: row;
    position: fixed;
    z-index: 2;
    display: inline-block;
    right: -34%;
}

.bag-animate-left {
    flex-direction: row;
    animation: slideLeft 1s;
    position: fixed;
    z-index: 2;
    right: 0;
}

.bag-animate-right {
    flex-direction: row;
    animation: slideRight 1s;
    position: fixed;
    z-index: 2;
    right: -34%;
}

.btn-center {
    margin: auto;
}