.page {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.sidebar {
    background-image: linear-gradient(180deg, #16a3f0, #1cd1d4 50%);
}

.grad {
    background-image: linear-gradient(45deg, #f5b690 0.1%, #ffe0cf, #ede1da);
    height: 40vh;
    display: flex;
}
.choose-mod-txt {
    font-size: 17pt;
}
.mod-menu {
    position: absolute;
    right: 5%;
    flex-direction: column;
    background-color: #ded0c8;
    width: 22vw;
    height: 17vh;
    border-end-start-radius: 55px;
    border-end-end-radius: 55px;
    top: -12%;
    transition: .3s;
}
    .mod-menu:hover {
        transform: translateY(60px);
    }
.mod-menu-up {
    position: absolute;
    right: 5%;
    flex-direction: column;
    background-color: #f57818;
    width: 22vw;
    border-end-start-radius: 55px;
    border-end-end-radius: 55px;
}
.mod-menu-down {
    position: absolute;
    right: 5%;
    flex-direction: column;
    background-color: #f57818;
    width: 22vw;
    border-end-start-radius: 55px;
    border-end-end-radius: 55px;
}
.seller-mod-btn {
    text-decoration: none;
    display: inline-block;
    margin-right: 0.5vw;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: black;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
    
}

    .seller-mod-btn:hover {
        background: #fc9c0a;
        box-shadow: 0 8px 14px #fc9c0a;
        color: white;
        transform: translateY(-7px);
    }

.seller-mod {
    flex-flow: row wrap;
    margin-top: 4vh;
    margin-left: 1vw;
}
.topbar {
    flex-direction: row;
    margin: auto;
}

.Metrozon {
    position: relative;
    margin-right: 2vw;
    width: 13vw;
    min-height: 10vh;
    background-color: transparent;
    color: #f57818;
    border: none;
    font-size: 34pt
}

.catalog {
    position: relative;
    margin-right: 1vw;
    min-width: 8vw;
    min-height: 5vh;
    background-color: white;
    color: #f57818;
    border: 2px solid #e0d5ce;
    font-size: 16pt;
}

.input {
    min-width: 30vw;
    min-height: 5vh;
    background-color: white;
    color: black;
    border: none;
    margin-right: 0;
    border: 2px solid #e0d5ce
}

.search {
    min-width: 6vw;
    min-height: 5vh;
    background-color: #e0d5ce;
    color: #f57818;
    border: none;
    margin-left: -.36em;
    border: 2px solid #e0d5ce
}

.bag {
    width: 5vw;
    height: 14vh;
    background-color: white;
    color: #f57818;
    border: 2px solid #e0d5ce;
    font-size: 16pt;
    border-start-start-radius: 37px;
    border-end-start-radius: 37px;
    transition: 0.5s;
    margin-top: 76%;
}
    .bag:hover {
        width: 7vw;
        margin-top: 72%;
    }

.bag-icons {
    flex-direction: row;
    display: inline;
}

.bag-inside {
    transition: 0.4s;
    background-color: orange;
    margin-left: -.36em;
    width: 30vw;
    height: 100vh;
    
}
.bag-no-animate {
    flex-direction: row;
    position: absolute;
    z-index: 9999;
    display: inline-block;
    right: -29%;
    position: fixed;
}
.bag-animate-left {
    flex-direction: row;
    animation: slideLeft 1s;
    position: absolute;
    z-index: 9999;
    right: 0;
    position: fixed;
}
.bag-animate-right {
    flex-direction: row;
    animation: slideRight 1s;
    position: absolute;
    z-index: 9999;
    right: -29%;
    position: fixed;
}

@keyframes slideRight {
    from {
        right: 0;
    }

    to {
        right: -29%;
    }
}

@keyframes slideLeft {

    from {
        right: -29%;
    }

    to {
        right: 0;
    }
}

.liked {
    margin-left: 1vw;
    min-width: 11vw;
    min-height: 5vh;
    background-color: white;
    color: #f57818;
    border: 2px solid #e0d5ce;
    font-size: 16pt;
}

.card {
    min-width: 23vw;
    min-height: 43vh;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.4s;
}

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.container {
    padding: 2px 16px;
    flex-direction: column;
}

.product-info {
    flex-direction: row
}

.card-button {
    width: 3vw;
    height: 5vh;
    background-color: white;
    border: none;
}

.card-button-col {
    flex-direction: column;
    width: 3vw;
}
