@inherits LayoutComponentBase
@using Npgsql;
@using System;
@using System.Collections.Generic;
@using System.IO;
@using Models;

<link href='https://css.gg/search.css' rel='stylesheet'>
<link href='https://css.gg/menu.css' rel='stylesheet'>
<link href='https://css.gg/heart.css' rel='stylesheet'>
<link href='https://css.gg/shopping-cart.css' rel='stylesheet'>
<link href='https://css.gg/eye.css' rel='stylesheet'>


<div class="page">

    <div class="grad">
        <div class="topbar">
            <button class="Metrozon">Metrozon</button>
            <button class="catalog"><span class="d-inline-block" style="height: 7px; width: 30px"><i class="gg-menu"></i></span>Каталог</button>
            <input class="input" placeholder="Введите название товара" />
            <button class="search"><span class="d-inline-block"><i class="gg-search" style="width: 17px; height: 17px;"></i></span></button>
            <button class="bag"><span class=d-inline-block style="height: 17px; width: 28px"><i class="gg-shopping-cart"></i></span>Корзина</button>
            <button class="liked"><span class=d-inline-block style="height: 11px; width: 22px"><i class="gg-heart"></i></span>Избранное</button>
        </div>
    </div>
    <div class="row">
        @for (int i = 0; i < products.Count; i++)
        {


            <div class="row">
                <button class="card" @onmouseover="change" @onmousedown="change">
                    <div class="container">
                        <p><img src="images/noph.png" width="300" height="240"></p>
                        <h4><b>@products[i].Title</b></h4>
                        <h5><b>@products[i].Price ₽</b></h5>
                        <h6>Осталось @products[i].Amount шт.</h6>
                    </div>
                </button>


                <div class="card-button-col">
                    <button class="card-button" title="Добавить в избранное"><span class=d-inline-block><i class="gg-heart"></i></span></button>
                    <button class="card-button" title="Добавить в корзину"><span class=d-inline-block><i class="gg-shopping-cart"></i></span></button>
                    <button class="card-button" title="Посмотреть похожее"><span class=d-inline-block><i class="gg-eye"></i></span></button>
                </div>

            </div>
        }
    </div>
</div>

@code {
    bool mouseOnElement = false;
    public void change()
    {
        mouseOnElement = true ? mouseOnElement == false : mouseOnElement = false;
    }
    List<Product> products = new List<Product>(PostgresConnection.ShowProducts());
}


