@inherits LayoutComponentBase
@using blazor_metrozon.Components
@using blazor_metrozon.ComponentsLogic

<link href="https://css.gg/shopping-cart.css" rel="stylesheet">
<link href="https://css.gg/eye.css" rel="stylesheet">
<link href="https://css.gg/arrow-bottom-left.css" rel="stylesheet">


<div class="page">
    <Navbar/>
    @if (BuyerModeL.buyermod)
    {
        <BuyerMode/>
    }
    else
    {
        <SellerMode/>
    }
    
    
</div>


@code {
    
}


