@inherits LayoutComponentBase
@using Npgsql;
@using System;
@using System.Collections.Generic;
@using System.IO;
@using Models;

<link href='https://css.gg/search.css' rel='stylesheet'>
<link href='https://css.gg/menu.css' rel='stylesheet'>
<link href='https://css.gg/heart.css' rel='stylesheet'>
<link href='https://css.gg/shopping-cart.css' rel='stylesheet'>
<link href='https://css.gg/eye.css' rel='stylesheet'>
<link href='https://css.gg/arrow-bottom-left.css' rel='stylesheet'>


<div class="page">

    <div class="grad">
        <div class="topbar">
            <button class="Metrozon">Metrozon</button>
            <button class="catalog"><span class="d-inline-block" style="height: 7px; width: 30px"><i class="gg-menu"></i></span>Каталог</button>
            <input class="input" placeholder="Введите название товара" />
            <button class="search"><span class="d-inline-block"><i class="gg-search" style="width: 17px; height: 17px;"></i></span></button>

            <button class="liked"><span class=d-inline-block style="height: 11px; width: 22px"><i class="gg-heart"></i></span>Избранное</button>
        </div>
    </div>

    <div class="row" style="margin-left: 0.5vw; margin-top: 1vh;">
        @for (int i = 0; i < products.Count; i++)
        {


            <div class="row" style="margin-left: 1vw">
                <button class="card">
                    <div class="container">
                        <p><img src="images/noph.png" width="300" height="240"></p>
                        <h4><b>@products[i].Title</b></h4>
                        <h5><b>@products[i].Price ₽</b></h5>
                        <h6>Осталось @products[i].Amount шт.</h6>
                    </div>
                </button>


                <div class="card-button-col">
                    <button class="card-button" title="Добавить в избранное"><span class=d-inline-block><i class="gg-heart"></i></span></button>
                    <button class="card-button" title="Добавить в корзину"><span class=d-inline-block><i class="gg-shopping-cart"></i></span></button>
                    <button class="card-button" title="Посмотреть похожее"><span class=d-inline-block><i class="gg-eye"></i></span></button>
                </div>

            </div>
        }
    </div>
    <button class="bag" @onclick="change">
        <div class="d-inline-block">
        <div class="row" style="right: 50%">
            <img src="images/leftarrow.png" style="height: 4vh; width: 2vw">
            <img src="images/shopping-basket.png" style="height: 4vh; width: 2vw">
        </div>
        </div>
    </button>
    @if(bagOpen)
    {
       <div class="bag-inside-on">ABOOOOOOOOOOOOOBA</div>
    }
    @if(shouldHide)
    {
        <div class="bag-inside-off">ABOOOOOOOOOOOOOBA</div>
    }
</div>
    
@code {
    bool bagOpen = false;
    bool shouldHide = false;
    public void change()
    {
        if(bagOpen == false)
        {
            bagOpen = true;
            shouldHide = false;
        }
        else
        {
            bagOpen = false;
            shouldHide = true;
        }
        //bagOpen = true ? bagOpen == false : bagOpen = false;

    }
    List<Product> products = new List<Product>(PostgresConnection.ShowProducts());
}


