@inherits LayoutComponentBase
@using Npgsql;
@using System;
@using System.Collections.Generic;
@using System.IO;
@using Models;

<link href='https://css.gg/search.css' rel='stylesheet'>
<link href='https://css.gg/menu.css' rel='stylesheet'>
<link href='https://css.gg/heart.css' rel='stylesheet'>
<link href='https://css.gg/shopping-cart.css' rel='stylesheet'>


<div class="page">
    <div class="grad">
        <div class="topbar">
            <button class="Metrozon">Metrozon</button>
            <button class="catalog"><span class="d-inline-block" style="height: 7px; width: 30px"><i class="gg-menu"></i></span>Каталог</button>
            <input class="input" placeholder="Введите название товара" />
            <button class="search"><span class="d-inline-block"><i class="gg-search" style="width: 17px; height: 17px;"></i></span></button>
            <button class="bag"><span class=d-inline-block style="height: 17px; width: 28px"><i class="gg-shopping-cart"></i></span>Корзина</button>
            <button class="liked"><span class=d-inline-block style="height: 11px; width: 22px"><i class="gg-heart"></i></span>Избранное</button>
        </div>
    </div>
    @for (int i = 0; i < products.Count; i++)
    {
        <div class="card">

            <div class="container">

                <img src="Images/no-photo-available.png" />

                <h4><b>@products[i].Title</b></h4>
                <button>Описание</button>
            </div>
        </div>
    }
</div>

@code {
    List<Product> products = new List<Product>(PostgresConnection.ShowProducts());


}


